.body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: #00000055;
}

.body.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #262626;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #606060;
    border-radius: 15px;
    min-width: 30%;
    max-width: 40%;
    padding: 25px 20px;
}